
li::after {
    content: "";
    display: block; 
    height: 30px;
    background-image: url("img/pokeball.png");
    background-repeat: no-repeat;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}